/*-- scss:defaults --*/

/*-- scss:rules --*/


.float-left{
  float: left;
  margin-right: 20px;
}

.float-right{
  float: right;
  margin-left: 20px;
}


/*-------------------------------------*/
/*   Titelbild hat leichten Schatten   */
/*-------------------------------------*/

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*--------------------------------------*/



/*--------------------------------------*/
/* Code ist zu klein in Callout-Chunks  */
/*--------------------------------------*/

pre code {
  font-size: 1.1em;
}
/*--------------------------------------*/



/*----------------------------------------------*/
/* Buchstaben-Aufzählungen mit Klammer-zu a) b) */
/*----------------------------------------------*/

ol[type="a"] {
    counter-reset: list;
    list-style: none;
    padding-left: 1em;
}


ol[type="a"] > li {
    list-style: none;
    position: relative;
    padding-left: 1.5em;
}

ol[type="a"] > li:before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
    position: absolute;
    left: 0;
    text-align: right;
}
/*-----------------------------------------------------*/
.custom-counter ol {
  list-style-type: none; /* Entfernt die Standardnummerierung */
  counter-reset: list-counter 13; /* Start bei 14 (0-basierter Zähler) */
}

.custom-counter ol > li {
  counter-increment: list-counter;
}

.custom-counter ol > li::before {
  content: counter(list-counter, lower-alpha) ". ";
}

/*-----------------------------------------------------*/
/*---------END OF FILE --------------------------------*/
